/* CSS General */
*{
    margin: 0px;
  padding: 0px;
}
#login{

    background-image: linear-gradient(180deg,#fff 20%, #33ce7942 100%);
}



h1{  
    font-size: 40px;
    color: #2a6143;
    font-weight: bold ;
}

h2{  
    font-size: 35px;
    color: #2a6143;
    font-weight: bold ;
}

#inicio{
    margin: 120px auto;
}

/* CSS Header */
.icono-login{
    width: 20%;
    
}
.logo{
    font-size: 30px;
}

.estilos-menu {

    background-color: #2a8d56;
    color: white;
    font-weight: bold;
   
}
.nav-link{
    font-size: 20px;
    margin: 0px 10px;
    padding: 5px 15px !important;
    color:white !important;
}
.nav-link:hover{
    background-color: #3bce7d;
    color:white !important;
    border-radius: 5px;
}


/* CSS Login */

#msjerror{  
    display: none;
    background-color: rgb(207, 40, 40);
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px;
    border-radius: 5px;
}

#formularioLogin #boton{
    font-size: 30px;
    font-weight: 500;
    background-color: #2a8d56 ;
    margin-top: 15px;
}

#formularioLogin input{
    font-size: 20px;
    background-color: white;
    font-weight: 500;
    color:rgb(48, 47, 47);
}

#formularioLogin label{
    font-size: 22px;
    font-weight: 700;
    color:rgb(48, 47, 47);
}



/* CSS Principal */

/* CSS Login */

#formProcesamiento{
    display: flex;
    align-items: center;
}

#formProcesamiento #calcular{
    font-size: 30px;
    font-weight: 500;
    background-color: #2a8d56 ;
}
    
#formProcesamiento select, #formProcesamiento input {
    font-size: 20px; 
    background-color: white;
    font-weight: 500;
    color:rgb(48, 47, 47);
}

#formProcesamiento label{
    font-size: 22px;
    font-weight: 700;
    color:rgb(48, 47, 47);
}


/* MAIN - Esterilizer*/

label{
    color: rgb(54, 46, 46);
    font-size: 10px;
    margin-top: 2rem;
    font-weight: bold;
}

/* CSS Tabla */

#puntaje th{
    font-weight: 700;
    font-size: 25px;  
}
#puntaje tr{
    font-weight: 500;
    font-size: 25px;
}
#movimientos th{
    font-weight: 700;
    font-size: 20px;
}
#movimientos tr{
    font-weight: 500;
    font-size: 15px;
}
       
